Repository swsnu/swpp2021-team3, pull requests merged in 2021-11, with the labels that each got.

#76 #75_feature/update_riot_key
  backend/gaejosim/report/views.py
  backend/gaejosim/search/views.py
  backend/gaejosim/user/views.py
Labels: backend, Sprint3, fix

#82 #81 feature/update RIOT API key
  backend/gaejosim/report/views.py
  backend/gaejosim/search/views.py
  backend/gaejosim/user/views.py
Labels: backend, Sprint4

#83 #78 feature/find userinfo
  .travis.yml
  backend/gaejosim/gaejosim/settings.py
  backend/gaejosim/report/views.py
  backend/gaejosim/search/views.py
  backend/gaejosim/user/tests.py
  backend/gaejosim/user/urls.py
  backend/gaejosim/user/views.py
  secrets.tar.enc
Labels: backend, Sprint4

#84 #79 feature/change password
  backend/gaejosim/user/tests.py
  backend/gaejosim/user/urls.py
  backend/gaejosim/user/views.py
Labels: backend, Sprint4

#85 #80 feature/my reports
  .travis.yml
  backend/gaejosim/gaejosim/settings.py
  backend/gaejosim/report/tests.py
  backend/gaejosim/report/urls.py
  backend/gaejosim/report/views.py
  backend/gaejosim/user/migrations/0006_summoner_name.py
  backend/gaejosim/user/models.py
  backend/gaejosim/user/views.py
Labels: backend, Sprint4

#98 #77_feature/report_tags
  .travis.yml
  backend/gaejosim/report/tests.py
  backend/gaejosim/report/views.py
  backend/gaejosim/user/migrations/0007_auto_20211123_2319.py
  backend/gaejosim/user/models.py
  backend/gaejosim/user/tests.py
  backend/gaejosim/user/urls.py
  backend/gaejosim/user/views.py
Labels: backend, Sprint4

#106 fix:multi-search url fix
  backend/gaejosim/search/tests.py
  backend/gaejosim/search/views.py
Labels: backend, Sprint4, fix

#113 #112 feature/apology
  .travis.yml
  backend/gaejosim/report/migrations/0005_auto_20211125_0214.py
  backend/gaejosim/report/migrations/0006_apology_is_verified.py
  backend/gaejosim/report/models.py
  backend/gaejosim/report/tests.py
  backend/gaejosim/report/urls.py
  backend/gaejosim/report/views.py
  backend/gaejosim/user/views.py
Labels: enhancement, backend, Sprint4

#115 feat: async aiohttp call to multi-search
  backend/gaejosim/report/views.py
  backend/gaejosim/search/tests.py
  backend/gaejosim/search/views.py
  backend/gaejosim/user/views.py
  backend/requirements.txt
Labels: enhancement, backend, Sprint4

#123 #99 feature/ml setting
  .travis.yml
  backend/gaejosim/core/ml.py
  backend/gaejosim/report/tests.py
  backend/gaejosim/report/views.py
  backend/gaejosim/search/views.py
  backend/requirements.txt
  secrets.tar.enc
Labels: backend, Sprint4

#135 #134 feature/handle_axios_error_reportAction
  frontend/gaejosim/src/Component/ReportAction/ReportAction.js
Labels: enhancement, Sprint4, frontend

#141 #141 feature/css
  frontend/gaejosim/src/Component/ChangePassword/ChangePassword.css
  frontend/gaejosim/src/Component/ChangePassword/ChangePassword.js
  frontend/gaejosim/src/Component/FindUserInfo/FindUserInfo.css
  frontend/gaejosim/src/Component/FindUserInfo/FindUserInfo.js
  frontend/gaejosim/src/Component/ReportAction/ReportAction.css
  frontend/gaejosim/src/Component/ReportAction/ReportAction.js
  frontend/gaejosim/src/Component/ReportAction/ReportAction.test.js
  frontend/gaejosim/src/Component/ReportAuth/ReportAuth.css
  frontend/gaejosim/src/Component/ReportAuth/ReportAuth.js
  frontend/gaejosim/src/Component/ReportAuth/ReportAuth.test.js
  frontend/gaejosim/src/Component/Signup/Signup.css
  frontend/gaejosim/src/Component/Signup/Signup.js
  frontend/gaejosim/src/Container/Login/Login.css
  frontend/gaejosim/src/Container/Login/Login.js
Labels: enhancement, Sprint4, frontend, fix
