Repository swsnu/swpp2021-team3, pull requests merged in 2021-12, with the labels that each got.

#142 #136 feature/user reducer
  frontend/gaejosim/package.json
  frontend/gaejosim/src/App.css
  frontend/gaejosim/src/Component/ChangePassword/ChangePassword.js
  frontend/gaejosim/src/Component/FindUserInfo/FindUserInfo.js
  frontend/gaejosim/src/Component/MyReportedLogs/MyReportedLogs.js
  frontend/gaejosim/src/Component/Progressbar/Progressbar.js
  frontend/gaejosim/src/Component/ReportAction/ReportAction.js
  frontend/gaejosim/src/Component/Signup/Signup.js
  frontend/gaejosim/src/Container/Login/Login.js
  frontend/gaejosim/src/Store/Actions/ActionTypes.js
  frontend/gaejosim/src/Store/Reducers/UserReducer.js
  frontend/gaejosim/src/index.js
  frontend/gaejosim/yarn.lock
Labels: enhancement, Sprint4, frontend

#148 #147 feature/visibility
  backend/gaejosim/report/views.py
  backend/gaejosim/search/views.py
  backend/gaejosim/user/views.py
  frontend/gaejosim/src/Component/CommonSearch/CommonSearch.js
  frontend/gaejosim/src/Component/MultiSearch.js
  frontend/gaejosim/src/Component/Signup/Signup.js
  frontend/gaejosim/src/Container/Header/Header.js
  frontend/gaejosim/src/Container/Header/logo.png
  frontend/gaejosim/src/Container/Login/Login.js
  frontend/gaejosim/src/Page/LoginPage.js
Labels: enhancement, Sprint5, frontend, fix

#150 #149 feature/statistics
  backend/gaejosim/report/views.py
  frontend/gaejosim/src/Component/MultiSearch.js
  frontend/gaejosim/src/Component/Statistic/Statistic.js
Labels: enhancement, Sprint5, frontend, fix

#151 #146 feature/mypage refactoring
  frontend/gaejosim/src/App.js
  frontend/gaejosim/src/Component/MultiSearch.css
  frontend/gaejosim/src/Component/My/My.css
  frontend/gaejosim/src/Component/My/My.js
  frontend/gaejosim/src/Component/My/My.test.js
  frontend/gaejosim/src/Component/MyReportedLogs/MyReportedLogs.js
  frontend/gaejosim/src/Component/MyReportedLogs/MyReportedLogs.test.js
  frontend/gaejosim/src/Component/MyReportingLogs/MyReportingLogs.js
  frontend/gaejosim/src/Component/MyReportingLogs/MyReportingLogs.test.js
  frontend/gaejosim/src/Component/ReportAuth/ReportAuth.css
  frontend/gaejosim/src/Component/ReportAuth/ReportAuth.js
  frontend/gaejosim/src/Component/ReportedLog/ReportedLog.css
  frontend/gaejosim/src/Component/ReportedLog/ReportedLog.js
  frontend/gaejosim/src/Component/ReportingLog/ReportingLog.css
  frontend/gaejosim/src/Component/ReportingLog/ReportingLog.js
  frontend/gaejosim/src/Component/Searchbar/Searchbar.css
  frontend/gaejosim/src/Container/Header/Header.css
Labels: enhancement, Sprint5, frontend, fix

#157 #156 feature/report action error handle
  frontend/gaejosim/src/Component/ReportAction/ReportAction.js
  frontend/gaejosim/src/Component/ReportAuth/ReportAuth.js
  frontend/gaejosim/src/Component/ReportedLog/ReportedLog.js
  frontend/gaejosim/src/Component/Statistic/Statistic.js
Labels: Sprint5, frontend, fix

#159 #152 feature/mypage axios
  frontend/gaejosim/src/Component/My/My.css
  frontend/gaejosim/src/Component/My/My.js
  frontend/gaejosim/src/Component/My/My.test.js
  frontend/gaejosim/src/Component/My/ReportedLog/ReportedLog.css
  frontend/gaejosim/src/Component/My/ReportedLog/ReportedLog.js
  frontend/gaejosim/src/Component/My/ReportingLog/ReportingLog.css
  frontend/gaejosim/src/Component/My/ReportingLog/ReportingLog.js
  frontend/gaejosim/src/Component/MyReportedLogs/MyReportedLogs.js
  frontend/gaejosim/src/Component/MyReportedLogs/ReportedLog2/ReportedLog2.css
  frontend/gaejosim/src/Component/MyReportedLogs/ReportedLog2/ReportedLog2.js
  frontend/gaejosim/src/Component/MyReportingLogs/MyReportingLogs.css
  frontend/gaejosim/src/Component/MyReportingLogs/MyReportingLogs.js
  frontend/gaejosim/src/Component/MyReportingLogs/ReportingLog2/ReportingLog2.css
  frontend/gaejosim/src/Component/MyReportingLogs/ReportingLog2/ReportingLog2.js
  frontend/gaejosim/src/Component/ReportAction/ReportAction.js
  frontend/gaejosim/src/Component/ReportAction/ReportAction.test.js
  frontend/gaejosim/src/Component/ReportAuth/ReportAuth.js
  frontend/gaejosim/src/Component/ReportAuth/ReportAuth.test.js
  frontend/gaejosim/src/Component/ReportingLog/ReportingLog.js
  frontend/gaejosim/src/Component/Searchbar/Searchbar.test.js
  frontend/gaejosim/src/Component/Statistic/Statistic.css
  frontend/gaejosim/src/Component/Statistic/Statistic.js
  frontend/gaejosim/src/Component/Statistic/Statistic.test.js
  frontend/gaejosim/src/Container/Header/Header.test.js
  frontend/gaejosim/src/Container/Login/Login.test.js
  frontend/gaejosim/src/Page/ReportAuthPage.test.js
  frontend/gaejosim/src/index.test.js
Labels: enhancement, Sprint5, frontend, fix

#161 #160 feature/reportaction css
  backend/gaejosim/report/views.py
  backend/gaejosim/search/views.py
  backend/gaejosim/user/views.py
  frontend/gaejosim/src/App.js
  frontend/gaejosim/src/Component/My/My.js
  frontend/gaejosim/src/Component/My/ReportedLog/ReportedLog.js
  frontend/gaejosim/src/Component/My/ReportingLog/ReportingLog.js
  frontend/gaejosim/src/Component/MyReportedLogs/MyReportedLogs.css
  frontend/gaejosim/src/Component/MyReportedLogs/MyReportedLogs.js
  frontend/gaejosim/src/Component/MyReportedLogs/ReportedLog2/ReportedLog2.js
  frontend/gaejosim/src/Component/MyReportingLogs/MyReportingLogs.css
  frontend/gaejosim/src/Component/MyReportingLogs/MyReportingLogs.js
  frontend/gaejosim/src/Component/MyReportingLogs/ReportingLog2/ReportingLog2.js
  frontend/gaejosim/src/Component/ReportAction/ReportAction.css
  frontend/gaejosim/src/Component/ReportAction/ReportAction.js
  frontend/gaejosim/src/Component/ReportAuth/ReportAuth.js
  frontend/gaejosim/src/Page/ReportAuthPage.test.js
  frontend/gaejosim/yarn.lock
Labels: enhancement, Sprint5, frontend, fix

#164 fix: get two reports on my page
  backend/gaejosim/user/tests.py
  backend/gaejosim/user/views.py
Labels: backend, Sprint5, fix

#165 #162 feature/multisearch css
  frontend/gaejosim/src/Component/CommonSearch/CommonSearch.css
  frontend/gaejosim/src/Component/CommonSearch/CommonSearch.js
  frontend/gaejosim/src/Component/CommonSearch/Result/Result.css
  frontend/gaejosim/src/Component/CommonSearch/Result/Result.js
  frontend/gaejosim/src/Component/MultiSearch.css
  frontend/gaejosim/src/Component/MultiSearch.js
  frontend/gaejosim/src/Component/MyApologyCheck/MyApologyCheck.css
  frontend/gaejosim/src/Component/MyApologyCheck/MyApologyCheck.js
  frontend/gaejosim/src/Component/MyApologyWrite/MyApologyWrite.css
  frontend/gaejosim/src/Component/MyApologyWrite/MyApologyWrite.js
  frontend/gaejosim/src/Component/MyReportedLogs/MyReportedLogs.css
  frontend/gaejosim/src/Component/MyReportedLogs/MyReportedLogs.js
  frontend/gaejosim/src/Component/MyReportingLogs/MyReportingLogs.css
  frontend/gaejosim/src/Component/SearchbarForMulti/SearchbarForMulti.css
  frontend/gaejosim/src/Component/SearchbarForMulti/SearchbarForMulti.js
  frontend/gaejosim/src/Component/SearchbarForMulti/SearchbarForMulti.test.js
  frontend/gaejosim/src/Page/MultiSearchResultPage.js
Labels: enhancement, Sprint5, frontend, fix

#167 #166 feature/frontend testing
  frontend/gaejosim/src/Component/ChangePassword/ChangePassword.test.js
  frontend/gaejosim/src/Component/CommonSearch/CommonSearch.test.js
  frontend/gaejosim/src/Component/FindUserInfo/FindUserInfo.test.js
  frontend/gaejosim/src/Component/MatchInfo/MatchInfo.js
  frontend/gaejosim/src/Component/MatchInfo/MatchInfo.test.js
  frontend/gaejosim/src/Component/MatchInfo/MatchMate/MatchMate.js
  frontend/gaejosim/src/Component/MatchInfo/MatchMate/MatchMate.test.js
  frontend/gaejosim/src/Component/MatchInfo/MatchMateList.js
  frontend/gaejosim/src/Component/MatchInfo/MatchMateList.test.js
  frontend/gaejosim/src/Component/MatchInfo/TeamMate/TeamMate.js
  frontend/gaejosim/src/Component/MatchInfo/TeamMate/TeamMate.test.js
  frontend/gaejosim/src/Component/MatchInfo/TeamMateList.js
  frontend/gaejosim/src/Component/MatchInfo/TeamMateList.test.js
  frontend/gaejosim/src/Component/MultiSearch.test.js
  frontend/gaejosim/src/Component/My/My.js
  frontend/gaejosim/src/Component/My/My.test.js
  frontend/gaejosim/src/Component/My/ReportedLog/ReportedLog.js
  frontend/gaejosim/src/Component/My/ReportedLog/ReportedLog.test.js
  frontend/gaejosim/src/Component/My/ReportingLog/ReportingLog.js
  frontend/gaejosim/src/Component/My/ReportingLog/ReportingLog.test.js
  frontend/gaejosim/src/Component/MyReportedLogs/MyReportedLogs.css
  frontend/gaejosim/src/Component/MyReportedLogs/MyReportedLogs.js
  frontend/gaejosim/src/Component/MyReportedLogs/MyReportedLogs.test.js
  frontend/gaejosim/src/Component/MyReportedLogs/ReportedLog2/ReportedLog2.js
  frontend/gaejosim/src/Component/MyReportedLogs/ReportedLog2/ReportedLog2.test.js
  frontend/gaejosim/src/Component/MyReportingLogs/MyReportingLogs.css
  frontend/gaejosim/src/Component/MyReportingLogs/ReportingLog2/ReportingLog2.js
  frontend/gaejosim/src/Component/MyReportingLogs/ReportingLog2/ReportingLog2.test.js
  frontend/gaejosim/src/Component/Progressbar/Progressbar.js
  frontend/gaejosim/src/Component/Report/Report.js
  frontend/gaejosim/src/Component/ReportAction/ReportAction.test.js
  frontend/gaejosim/src/Component/ReportAuth/ReportAuth.js
  frontend/gaejosim/src/Component/ReportAuth/ReportAuth.test.js
  frontend/gaejosim/src/Component/ReportedLog/ReportedLog.js
  frontend/gaejosim/src/Component/SearchbarForMulti/SearchbarForMulti.css
  frontend/gaejosim/src/Component/SearchbarForMulti/SearchbarForMulti.js
  frontend/gaejosim/src/Component/SearchbarForMulti/SearchbarForMulti.test.js
  frontend/gaejosim/src/Component/Statistic/Statistic.test.js
  frontend/gaejosim/src/Container/Header/Header.test.js
  frontend/gaejosim/src/Container/Login/Login.js
  frontend/gaejosim/src/Container/Login/Login.test.js
  frontend/gaejosim/src/Container/MyInfo/MyInfo.js
  frontend/gaejosim/src/Page/MultiSearchResultPage.js
  frontend/gaejosim/src/Page/SearchPage.test.js
  frontend/gaejosim/src/Store/Reducers/UserReducer.js
  frontend/gaejosim/src/Store/Reducers/UserReducer.test.js
  frontend/gaejosim/src/index.js
  frontend/gaejosim/src/reportWebVitals.js
Labels: enhancement, Sprint5, frontend, fix

#174 #172 feature/check page
  backend/gaejosim/report/views.py
  backend/gaejosim/search/views.py
  backend/gaejosim/user/views.py
  frontend/gaejosim/package.json
  frontend/gaejosim/src/App.js
  frontend/gaejosim/src/Component/ChangePassword/ChangePassword.js
  frontend/gaejosim/src/Component/CommonSearch/CommonSearch.js
  frontend/gaejosim/src/Component/CommonSearch/Result/Result.js
  frontend/gaejosim/src/Component/FindUserInfo/FindUserInfo.js
  frontend/gaejosim/src/Component/MultiSearch.css
  frontend/gaejosim/src/Component/MultiSearch.js
  frontend/gaejosim/src/Component/My/My.js
  frontend/gaejosim/src/Component/MyReportedLogs/MyReportedLogs.js
  frontend/gaejosim/src/Component/MyReportingLogs/MyReportingLogs.js
  frontend/gaejosim/src/Component/ReportAction/ReportAction.js
  frontend/gaejosim/src/Component/ReportAuth/ReportAuth.js
  frontend/gaejosim/src/Component/Searchbar/Searchbar.js
  frontend/gaejosim/src/Component/Signup/Signup.js
  frontend/gaejosim/src/Component/Statistic/Statistic.js
  frontend/gaejosim/src/Container/Header/Header.js
  frontend/gaejosim/src/Container/Login/Login.js
  frontend/gaejosim/src/Page/LoginPage.js
  frontend/gaejosim/src/Page/MultiSearchResultPage.js
  frontend/gaejosim/src/Page/ReportAuthPage.js
  frontend/gaejosim/src/Page/SignupPage.js
  frontend/gaejosim/yarn.lock
Labels: enhancement, Sprint5, frontend

#176 #175 feature/frontendtesing1206
  frontend/gaejosim/src/Component/ChangePassword/ChangePassword.test.js
  frontend/gaejosim/src/Component/CommonSearch/CommonSearch.css
  frontend/gaejosim/src/Component/CommonSearch/CommonSearch.test.js
  frontend/gaejosim/src/Component/MultiSearch.js
  frontend/gaejosim/src/Component/MyReportedLogs/MyReportedLogs.js
  frontend/gaejosim/src/Component/MyReportingLogs/MyReportingLogs.js
  frontend/gaejosim/src/Component/MyReportingLogs/ReportingLog2/ReportingLog2.js
  frontend/gaejosim/src/Component/ReportAction/ReportAction.css
  frontend/gaejosim/src/Component/ReportAction/ReportAction.js
  frontend/gaejosim/src/Component/ReportAction/ReportAction.test.js
  frontend/gaejosim/src/Component/Searchbar/Searchbar.css
  frontend/gaejosim/src/Component/Searchbar/Searchbar.js
  frontend/gaejosim/src/Component/Signup/Signup.js
  frontend/gaejosim/src/Component/Statistic/Statistic.css
  frontend/gaejosim/src/Component/Statistic/Statistic.js
  frontend/gaejosim/src/Container/Header/Header.css
  frontend/gaejosim/src/Container/Login/Login.js
  frontend/gaejosim/src/Page/LoginPage.test.js
  frontend/gaejosim/src/Page/MultiSearchResultPage.css
  frontend/gaejosim/src/Page/MultiSearchResultPage.js
  frontend/gaejosim/src/Page/SearchPage.css
  frontend/gaejosim/src/Page/SearchPage.js
  frontend/gaejosim/src/index.js
  frontend/gaejosim/src/reportWebVitals.js
Labels: enhancement, Sprint5, frontend

#182 feat: add local cache
  backend/gaejosim/report/tests.py
  backend/gaejosim/report/urls.py
  backend/gaejosim/report/views.py
  backend/gaejosim/user/urls.py
Labels: enhancement, backend, Sprint5

#188 #85_feature/delete_report
  .travis.yml
  backend/gaejosim/report/tests.py
  backend/gaejosim/report/urls.py
  backend/gaejosim/report/views.py
  backend/gaejosim/search/views.py
  backend/gaejosim/user/views.py
Labels: backend, Sprint5

#186 #180 feature/axios
  frontend/gaejosim/src/App.js
  frontend/gaejosim/src/Component/CommonSearch/CommonSearch.css
  frontend/gaejosim/src/Component/CommonSearch/CommonSearch.js
  frontend/gaejosim/src/Component/CommonSearch/Result/Result.js
  frontend/gaejosim/src/Component/CommonSearch/TagView/TagView.js
  frontend/gaejosim/src/Component/CommonSearch/tagDiagrams/diagram_1.png
  frontend/gaejosim/src/Component/CommonSearch/tagDiagrams/diagram_2.png
  frontend/gaejosim/src/Component/CommonSearch/tagDiagrams/diagram_3.png
  frontend/gaejosim/src/Component/CommonSearch/tagDiagrams/diagram_4.png
  frontend/gaejosim/src/Component/CommonSearch/tagDiagrams/diagram_5.png
  frontend/gaejosim/src/Component/MultiSearch.js
  frontend/gaejosim/src/Component/My/My.js
  frontend/gaejosim/src/Component/MyReportingLogs/DetailReportingLog/DetailReportingLog.css
  frontend/gaejosim/src/Component/MyReportingLogs/DetailReportingLog/DetailReportingLog.js
  frontend/gaejosim/src/Component/MyReportingLogs/DetailReportingLog/DetailReportingLog.test.js
  frontend/gaejosim/src/Component/MyReportingLogs/MyReportingLogs.js
  frontend/gaejosim/src/Component/MyReportingLogs/MyReportingLogs.test.js
  frontend/gaejosim/src/Component/ReportAction/ReportAction.js
  frontend/gaejosim/src/Component/Statistic/Statistic.js
  frontend/gaejosim/src/Page/MultiSearchResultPage.js
  frontend/gaejosim/src/Page/MyApologyCheckPage.js
  frontend/gaejosim/src/Page/MyApologyWritePage.js
  frontend/gaejosim/src/Page/ReportActionPage.js
  frontend/gaejosim/src/Page/ReportAuthPage.js
  frontend/gaejosim/yarn.lock
Labels: enhancement, Sprint5, frontend

#190 #187 feature/Check
  backend/gaejosim/report/views.py
  backend/gaejosim/search/views.py
  backend/gaejosim/user/views.py
  frontend/gaejosim/src/App.js
  frontend/gaejosim/src/Assets/Images/icon-delete.png
  frontend/gaejosim/src/Assets/Images/icon-paper.png
  frontend/gaejosim/src/Assets/Images/icon-pencil.png
  frontend/gaejosim/src/Component/CommonSearch/CommonSearch.js
  frontend/gaejosim/src/Component/FindUserInfo/FindUserInfo.js
  frontend/gaejosim/src/Component/My/My.js
  frontend/gaejosim/src/Component/MyApologyCheck/MyApologyCheck.js
  frontend/gaejosim/src/Component/MyApologyWrite/MyApologyWrite.js
  frontend/gaejosim/src/Component/MyReportedLogs/DetailReportedLog/DetailReportedLog.css
  frontend/gaejosim/src/Component/MyReportedLogs/DetailReportedLog/DetailReportedLog.js
  frontend/gaejosim/src/Component/MyReportedLogs/DetailReportedLog/DetailReportedLog.test.js
  frontend/gaejosim/src/Component/MyReportedLogs/MyReportedLogs.js
  frontend/gaejosim/src/Component/MyReportingLogs/DetailReportingLog/DetailReportingLog.js
  frontend/gaejosim/src/Component/ReportAction/ReportAction.js
  frontend/gaejosim/src/Component/ReportAuth/ReportAuth.js
  frontend/gaejosim/src/Component/Signup/Signup.js
  frontend/gaejosim/src/Container/Login/Login.js
  frontend/gaejosim/src/Page/MultiSearchResultPage.js
  frontend/gaejosim/src/Page/MyApologyCheckPage.js
  frontend/gaejosim/src/Page/MyApologyWritePage.js
  frontend/gaejosim/src/Page/MyPage.js
  frontend/gaejosim/yarn.lock
Labels: enhancement, frontend

#189 #181 feature/front axios
  frontend/gaejosim/src/Component/ChangePassword/ChangePassword.css
  frontend/gaejosim/src/Component/ChangePassword/ChangePassword.test.js
  frontend/gaejosim/src/Component/CommonSearch/CommonSearch.js
  frontend/gaejosim/src/Component/FindUserInfo/FindUserInfo.css
  frontend/gaejosim/src/Component/FindUserInfo/FindUserInfo.js
  frontend/gaejosim/src/Component/FindUserInfo/FindUserInfo.test.js
  frontend/gaejosim/src/Component/MultiSearch.css
  frontend/gaejosim/src/Component/My/ReportedLog/ReportedLog.js
  frontend/gaejosim/src/Component/My/ReportedLog/ReportedLog.test.js
  frontend/gaejosim/src/Component/My/ReportingLog/ReportingLog.js
  frontend/gaejosim/src/Component/My/ReportingLog/ReportingLog.test.js
  frontend/gaejosim/src/Component/MyApologyCheck/MyApologyCheck.test.js
  frontend/gaejosim/src/Component/MyApologyWrite/MyApologyWrite.test.js
  frontend/gaejosim/src/Component/MyReportedLogs/DetailReportedLog/DetailReportedLog.css
  frontend/gaejosim/src/Component/MyReportedLogs/DetailReportedLog/DetailReportedLog.js
  frontend/gaejosim/src/Component/MyReportedLogs/DetailReportedLog/DetailReportedLog.test.js
  frontend/gaejosim/src/Component/MyReportedLogs/ReportedLog2/ReportedLog2.css
  frontend/gaejosim/src/Component/MyReportedLogs/ReportedLog2/ReportedLog2.js
  frontend/gaejosim/src/Component/MyReportedLogs/ReportedLog2/ReportedLog2.test.js
  frontend/gaejosim/src/Component/MyReportingLogs/DetailReportingLog/DetailReportingLog.test.js
  frontend/gaejosim/src/Component/MyReportingLogs/ReportingLog2/ReportingLog2.css
  frontend/gaejosim/src/Component/MyReportingLogs/ReportingLog2/ReportingLog2.js
  frontend/gaejosim/src/Component/MyReportingLogs/ReportingLog2/ReportingLog2.test.js
  frontend/gaejosim/src/Component/ReportAction/ReportAction.js
  frontend/gaejosim/src/Container/Header/Header.css
  frontend/gaejosim/src/Container/Header/Header.js
  frontend/gaejosim/src/Container/Header/Header.test.js
  frontend/gaejosim/src/Container/Login/Login.css
  frontend/gaejosim/src/Page/MyApologyCheckPage.test.js
  frontend/gaejosim/src/Page/MyApologyWritePage.test.js
  frontend/gaejosim/src/Store/Reducers/UserReducer.test.js
  frontend/gaejosim/src/index.js
  frontend/gaejosim/src/reportWebVitals.js
Labels: enhancement, Sprint5, frontend, fix

#198 #197 feature handle errors
  backend/gaejosim/search/views.py
  frontend/gaejosim/public/images/champions/champion_14.png
  frontend/gaejosim/src/Component/MultiSearch.js
  frontend/gaejosim/src/Component/My/My.js
  frontend/gaejosim/src/Page/MultiSearchResultPage.js
  frontend/gaejosim/yarn.lock
Labels: frontend, fix

#201 #200 fix/delete cache
  backend/gaejosim/report/urls.py
  backend/gaejosim/search/views.py
  backend/gaejosim/user/urls.py
  backend/gaejosim/user/views.py
Labels: bug, backend, Sprint5, fix

#202 #199 feature/final
  frontend/gaejosim/src/Component/MultiSearch.js
  frontend/gaejosim/src/Component/My/My.js
  frontend/gaejosim/src/Page/MultiSearchResultPage.css
Labels: enhancement, Sprint5, frontend, fix

#209 #208 fix/whitearea
  frontend/gaejosim/src/App.css
Labels: Sprint5, frontend, fix

#210 #208 fix/fixfronterrors
  backend/gaejosim/report/views.py
  backend/gaejosim/search/views.py
  backend/gaejosim/user/views.py
  frontend/gaejosim/public/images/lanes/lane_BOTTOM.png
  frontend/gaejosim/public/images/lanes/lane_JUNGLE.png
  frontend/gaejosim/public/images/lanes/lane_MIDDLE.png
  frontend/gaejosim/public/images/lanes/lane_NONE.png
  frontend/gaejosim/public/images/lanes/lane_TOP.png
  frontend/gaejosim/src/App.js
  frontend/gaejosim/src/Assets/Images/lanes/lane_bottom.png
  frontend/gaejosim/src/Assets/Images/lanes/lane_jungle.png
  frontend/gaejosim/src/Assets/Images/lanes/lane_middle.png
  frontend/gaejosim/src/Assets/Images/lanes/lane_none.png
  frontend/gaejosim/src/Assets/Images/lanes/lane_top.png
  frontend/gaejosim/src/Component/CommonSearch/CommonSearch.js
  frontend/gaejosim/src/Component/CommonSearch/Result/Result.js
  frontend/gaejosim/src/Component/MultiSearch.js
  frontend/gaejosim/src/Component/My/My.js
  frontend/gaejosim/src/Component/MyApologyWrite/MyApologyWrite.js
  frontend/gaejosim/src/Component/ReportAction/ReportAction.js
  frontend/gaejosim/src/Component/ReportAuth/ReportAuth.js
  frontend/gaejosim/src/Component/Riot/Riot.js
  frontend/gaejosim/src/Component/Searchbar/Searchbar.js
  frontend/gaejosim/src/Container/Login/Login.css
  frontend/gaejosim/src/Container/Login/Login.js
  frontend/gaejosim/src/Page/RiotPage.js
  frontend/gaejosim/yarn.lock
Labels: frontend, fix

#212 #211 fix/logincss
  frontend/gaejosim/src/Component/ChangePassword/ChangePassword.css
  frontend/gaejosim/src/Component/CommonSearch/CommonSearch.js
  frontend/gaejosim/src/Component/FindUserInfo/FindUserInfo.css
  frontend/gaejosim/src/Component/MultiSearch.js
  frontend/gaejosim/src/Component/My/My.test.js
  frontend/gaejosim/src/Container/Login/Login.css
Labels: enhancement, Sprint5, frontend, fix

#220 #219_fix/ML_error_message
  backend/gaejosim/report/views.py
  backend/gaejosim/search/views.py
  backend/gaejosim/user/views.py
Labels: backend, Sprint5, fix
